* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.small-container {
  max-width: 1000px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.small-product {
  display: flex;
  justify-content: space-around;
}
.small-img-row {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}
.col-2 img {
  width: 100%;
  padding: 50px 0;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
.single-product .col-2 img {
  padding: 0;
}
.single-product .col-2 {
  padding: 20px;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 h1 {
  margin: 25px 0;
  font-size: 50px;
  line-height: 60px;
}
.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}
.single-product h4 {
  margin-top: 20px 0;
  font-size: 20px;
  font-weight: bold;
}
.single-product input {
  width: 50px;
  height: 40px;
  border: 1px solid #ccc;
  text-align: center;
  margin: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
input:focus {
  outline: none;
}
a {
  text-decoration: none;
}
.single-product .fa {
  color: #ff523b;
  margin-left: 10px;
}

.my_btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin-top: -5px;
  border-radius: 30px;
  text-transform: uppercase;
  transition: background 0.5s;
}
.my_btn:hover {
  background: #563434;
}

.details {
  display: flex;
  margin-top: 50px;
  /* background-color: #253351; */
}
#productimg {
  height: 400px;
}
.small-img {
  height: 100px;
  width: 100px;
}

#productimg {
  height: 600px;
  width: 700px;
  margin-left: 50px;
  margin-top: 50px;
}
