* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.fa {
  font-size: 20px;
  color: #fff;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
}
.carousel-caption {
  bottom: 220px;
}
.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  font-family: merienda;
}
.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
  font-family: poppins;
}
.carousel-caption a {
  text-transform: uppercase;
  background: #262626;
  padding: 10px 30px;
  display: inline-block;
  color: #fff;
  margin-top: 15px;
}
.navbar-nav a {
  font-family: poppins;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
.navbar-light .navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.navbar-nav {
  text-align: center;
}
.nav-link {
  padding: 0.2rem 1rem;
}
.nav-link.active,
.nav-link:focus {
  color: #fff;
}
.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
  background: #fff;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}
.w-100 {
  height: 100vh;
}

.home_title {
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: poppins;
  color: #fff;
}

.nav-link :hover {
  color: #ff6b81;
}

.logolink {
  text-decoration: none;
  color: #fff;
}
.logolink:hover {
  color: #fff;
}
.logo-2 {
  display: none;
}
.leftarro {
  color: #fff;
}
.nav_in_phone_mode {
  display: none;
}
.icons {
  display: none;
}
.icon_in_lg_mode {
  display: flex;
  margin-left: 250px;
}
.menubar {
  margin-top: 10px;
  margin-left: 20px;
  justify-content: space-between;
}
.my_navbar {
  margin-left: 110px;
}

.nav_items :hover {
  color: #ff6b81;
}
@media only screen and (max-width: 767px) {
  .navbar-nav.ml-auto {
    background: rgba(0, 0, 0, 0.5);
  }
  .navbar-light .navbar-nav .nav-link {
    color: #fff;
  }
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
  }
  .nav_in_phone_mode {
    display: flex;
  }
  .icon_in_phone {
    display: none;
  }
  .menubtn {
    height: 40px;
  }
  .icons {
    display: flex;
    width: 100px;
    margin-left: -19px;
    padding: 0px;
    margin-right: -10px;
  }
  .phone_mode_nav {
    margin-top: -80px;
  }
  .icons li {
    list-style: none;
  }
  .logo {
    display: none;
  }
  .fa {
    color: #fff;
    font-size: 20px;
  }
  .navbar-nav a {
    font-size: 14px;
    font-weight: normal;
  }
  .home_title {
    font-size: 40px;
    display: inline;
  }
  .carousel-caption h5 {
    font-size: 30px;
  }

  .logo-2 {
    display: flex;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  .demo {
    font-size: 30px;
  }
  .logolink {
    text-decoration: none;
    color: #fff;
  }
  .nav_in_phone_mode {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .carousel-caption {
    bottom: 400px;
  }
}
