* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fa {
  font-size: 20px;
  color: #fff;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
}
.carousel-caption {
  bottom: 220px;
}
.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  font-family: merienda;
}
.w-100 {
  height: 100vh;
}
.carousel-caption a {
  text-transform: uppercase;
  background: #262626;
  padding: 10px 30px;
  display: inline-block;
  color: #fff;
  margin-top: 15px;
}

.home_title {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
  font-family: poppins;
  color: #fff;
}
.navbar-light .navbar-nav .nav-link {
  /* color: rgba(0,0,0,.55); */
  color: white;
}
.navbar-nav {
  margin-top: 20px;
}
.nav-link:hover {
  color: rgb(8, 44, 67) !important;
  background-color: #fff;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: white;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}
.phone_mode {
  display: flex;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}
.my-dropdown-toggle::after {
  content: none;
}
.dropdown-item:hover {
  color: #fff;
  background-color: rgb(56, 65, 122);
}
.nav_link:hover {
  color: lightblue !important;
}

.nav_itemss:hover {
  color: #262626 !important;
}
.s-hight {
  height: 600px;
}

.icon_navbar {
  padding: 0.4rem 0.3rem;
}
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
  .s-hight {
    height: 460px;
  }
}
.phone_mode_iconss {
  display: none;
}
@media only screen and (max-width: 767px) {
  .icons li {
    list-style: none;
  }
  .navbar-nav {
    background-color: #262626;
  }
  .s-hight {
    height: 340px;
  }
  .logo {
    display: none;
  }
  .phone_mode {
    display: none;
  }
  .fa {
    color: #fff;
    font-size: 20px;
  }

  .home_title {
    font-size: 40px;
    display: inline;
  }
  .carousel-caption h5 {
    font-size: 30px;
  }

  .carousel-caption {
    bottom: 400px;
  }
  .phone_mode_iconss {
    display: flex;
    margin-left: -20px;
  }
}
