* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.fa {
  font-size: 20px;
  color: #fff;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
}
.carousel-caption {
  bottom: 220px;
}
.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  font-family: merienda;
}

.carousel-caption a {
  text-transform: uppercase;
  background: #262626;
  padding: 10px 30px;
  display: inline-block;
  color: #fff;
  margin-top: 15px;
}

.home_title {
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: poppins;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .icons li {
    list-style: none;
  }
  .logo {
    display: none;
  }
  .fa {
    color: #fff;
    font-size: 20px;
  }

  .home_title {
    font-size: 40px;
    display: inline;
  }
  .carousel-caption h5 {
    font-size: 30px;
  }

  .carousel-caption {
    bottom: 400px;
  }
}
