/* * {
  margin: 0;
  padding: 0;
}
.my-dropdown-toggle::after {
  content: none;
}

.dropdown-item:hover {
  color: red;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
@media screen and (max-width: 780px) {
  .phone_mode {
    display: none;
  }
  .navbar-toggler {
    color: #fff;
  }
  .navbar-toggler-icon {
    color: black;
  }
  .navbar-toggler-icon {
    color: black;
  }
} */
