* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.fa {
  font-size: 20px;
  color: #fff;
}
.In_lg_mode {
  margin-top: 10px;
}
.menubar {
  margin-top: 10px;
  /* margin-left: 20px; */
  justify-content: space-between;
  /* margin-left: -28px;
  margin-right: 19px; */
}

@media screen and (max-width: 768px) {
  .In_lg_mode {
    margin-top: 10px;
  }
  .nav_in_phone_mode {
    margin-top: 10px;
  }
}
