*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.container_slider {
  width: 95%;
  margin: auto;
}

.cards-container_slider {
  display: flex;
  border-radius: 6px;
  color: #333;
  /* background: #eee; */
  padding: 1rem;
  /* box-shadow: 0 0 1rem #000 inset; */
  overflow-x: auto;
  position: relative;
}

.card_slider {
  flex: 1 0 350px;
  box-shadow: 0 1px 1rem -4px #000;
  background: #fff;
  margin: 40px;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  /* padding: 30px; */
}
.img_slider {
  width: 450px;
  height: 250px;
  object-fit: center;
}

.card-content {
  padding: 10px 20px;
}

@media screen and (max-width: 725px) {
  .new {
    width: 426px;
  }
  .cards-container {
    padding: 0.5rem;
  }

  .card_slider {
    flex: 1 0 320px;
    margin: 0.5rem;
    margin: 10px;
  }
  .img_slider {
    width: 350px;
    height: 250px;
    object-fit: center;
  }
}
